/* Color Scheme */
:root {
  --main-white: #F9F7F0;
  --main-blue: #020C12;
  --main-red: #9A334B;
  --main-gray: #8F8F8F;
  --main-black: #04151F;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  /* font-weight: 400; */
  line-height: 1.4;
  color: var(--main-white);
  background-color: var(--main-black);
  display: block;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: var(--main-red);
  font-weight: 100;
  font-size: 1.8rem;
  /* text-align: center; */
}

a {
  text-decoration: none;
  color: var(--main-white);
  margin-bottom: 50px;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main-red);
  box-shadow:0 2px 0 rgba(0, 0, 0, 0.4);
}

.nav-list {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--main-white);
  font-size: 1.5rem;
  padding: 1.1rem;
  margin: 10px;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: var(--main-blue);
}


ul {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/* Welcome Section */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, var(--main-black) 0%, #020C12 100%);
}

.welcome-section h3 {
  text-align: center;
}

.welcome-section p {
  font-size: 1.2rem;
  margin-right: 40px;
  margin-left: 40px;
  text-align: center;
}

.paragraph {
  margin-top: 100px;
}

/* Project Section */
.projects-section {
  text-align: center;
  padding: 8rem 2rem;
  padding-top: 6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 8rem;
  /* background: var(--main-gray); */
  /* background-image: linear-gradient(60deg, #020C12 0%, var(--main-black) 100%); */
  background-color: var(--main-gray);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 1rem auto;
  border-bottom: 2px solid var(--main-white);
}

.projects-section-sub-header {
  align-items: flex-start;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--main-blue);
  padding: 15px;
  border-radius: 5px;
}

.project-image {
  height: auto;
  width: 100%;
  max-height: 300px;
  max-width: 100%;
  overflow: hidden;
}

.project-title {
  display: inline;
  padding-top: 1rem;
  padding-left:  0.5rem;
  padding-right:  0.5rem;
  font-size: 1.2rem;
}

.code {
  color: var(--main-blue);
  transition: color 0.3s ease-out;
}

.project-tile:hover span {
  color: var(--main-white)
}

/* Fazer os cartões dos jogos mais pequenos para caberem na página toda quando se vai para esse separador */
/* Acabar  */

/* Contacts Section */
.contacts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(60deg, var(--main-black) 0%, #020C12 100%);
}

.contact-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 40px;
}

.contact-details {
  text-shadow: 2px 2px 1px var(--main-black);
  transition: transform 0.3s ease-out;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
}

.contact-links a {
  text-decoration: none;
  color: var(--main-white);
}

.contact-links a:hover {
  transform: translateY(10px);
}

i {
  padding: 0.6rem;
}

/* Footer */
footer {
  display: flex;
  flex-flow: column;
  font-size: 1.1rem;
  padding-top: 10px;
  background-image: linear-gradient(60deg, var(--main-black) 0%, #020C12 100%);
  border-top: 2px solid var(--main-red);
}

.quote {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: right;
  margin-right: 40px;
  padding-right: 25px;
}

.quote-owner {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-align: right;
  margin-right: 40px;
}

/* Media queries */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .nav {
    justify-content: center;
  }

  .nav-list a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    margin: 5px;
    font-size: 1.2rem;
  }

  .welcome-section h1 {
    font-size: 2.5rem;
  }

  .welcome-section p {
    font-size: 1.2rem;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .contact-links a {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    margin: 5px;
  }
}
